<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.BookMapper">
	
	<!--BOOK 테이블에 도서를 등록
	public int createPost(BookVO bookVO) 
	 -->
	<!-- 
	BOOK 테이블에 도서를 등록
	1. bookVO : BookVO [bookId=0, title=개똥이의 모험, category=소설, 
					   price=12000, insertDate=null]
	public int createPost(BookVO bookVO);
	 -->
	 <!-- MyBatis framework에서 제공해주는 데이터 입력을 나타내는 태그
	1) 드루와 : Mapper 객체가 던진 데이터타입.parameterType만 씀
	2) 가즈아 : Mapper 객체의 메소드 쪽으로 리턴할 타입.
	  - resultType : vo, hashMap, String, int
	  - resultMap  : MyBatis의 resultMap 태그를 사용(조인문)
	-->
	<!-- bookVO(전)=>{"bookId":0,"title":"총알탄 개똥이","category":"소설","price":10000,"insertDate":""} -->
	<!-- bookVO(후)=>{"bookId":1,"title":"총알탄 개똥이","category":"소설","price":10000,"insertDate":""} -->
	<!-- 마이바티스 쿼리 XML에 전달되면 샵{title}을 "총알탄 개똥이"로 자동 변환함 
	insert,update,delete의 경우 resultType은 생략
	-->
	<insert id="createPost" parameterType="bookVO">
		<!-- 니키? 내키? 아니! 우리키!! -->
		<!-- 키를 높이면 락(rok)커가 될 수 있을까? 
		order : BEFORE(쿼리를 실행하기 전에 먼저 selectKey를 실행)
		resultType : selectKey 쿼리를 실행 한 타입
		keyProperty : bookVO의 멤버변수(결과를 담을)
		-->
		<!-- 
		resultType : 쿼리를 실행한 결과의 타입(int, String)
		order : 메인쿼리를 실행 시 타이밍(BEFORE(전), AFTER(후))
		keyProperty : 실행 결과 데이터를 어디에 set할것인가?
		 -->	
		<selectKey resultType="int" order="BEFORE" keyProperty="bookId">
			SELECT NVL(MAX(BOOK_ID),0)+1 FROM BOOK
		</selectKey>
		 
		INSERT INTO BOOK(BOOK_ID, TITLE, CATEGORY, PRICE, INSERT_DATE)
		VALUES(#{bookId},#{title},#{category},#{price},SYSDATE)
	</insert>
	
	<!-- 상세 데이터 불러오기
	public BookVO detail(BookVO bookVO) 
	
	select 태그는 조회(select) 쿼리를 실행하기 위한 mybatis 태그.
	
	parameterType(book_SQL.xml로 드루와) : bookVO 타입
	resultType(BookDAO로 가즈아) : bookVO 타입
	-->
	<!-- bookVO(드루와)=>{"bookId":"2","title":"","category":"","price":0,"insertDate":""} -->
	<!-- bookVO(가즈아)=>{"bookId":"2","title":"총알탄 개똥이","category":"소설","price":10000,"insertDate":"22/07/19"} -->
	<select id="detail" parameterType="bookVO" resultType="bookVO">
		SELECT BOOK_ID, TITLE, CATEGORY, PRICE, INSERT_DATE
		FROM   BOOK 
		WHERE  BOOK_ID = #{bookId}
	</select>
	
	<!-- update 실행. update태그는 update SQL을 실행하기 위한 마이바티스 태그 
	public int modifyPost(BookVO bookVO) 
	
	bookVO{bookId=3, title=22, category=33, price=55, insertDate=null}
	insert, update, delete의 경우 resultType 또는 resultMap은 생략
	-->
	<update id="modifyPost" parameterType="bookVO">
		UPDATE BOOK
		SET    TITLE=#{title},CATEGORY=#{category},PRICE=#{price},INSERT_DATE=SYSDATE
		WHERE  BOOK_ID=#{bookId}
	</update>
	
	<delete id="deletePost" parameterType="bookVO">
		delete from book
			where book_id=#{bookId}
	</delete>
	
	<!-- 도서 목록
		public List<BookVO> list()
		
		param{keyword=개똥이}
		
		and 문은 keyword의 값이 있을때만 추가되면 됨
	 -->
	<select id="list" resultType="bookVO" parameterType="hashmap">
		SELECT T.RNUM
		     , T.BOOK_ID, T.TITLE, T.CATEGORY, T.PRICE, T.INSERT_DATE
		FROM
		(
		    SELECT ROW_NUMBER() OVER(ORDER BY BOOK_ID DESC) RNUM
		         , BOOK_ID, TITLE, CATEGORY, PRICE, INSERT_DATE
		    FROM   BOOK
		    WHERE  1 = 1
		    <if test="keyword!=null and keyword!=''">
			and (
				title 		like '%'||#{keyword}||'%' or
				category 	like '%'||#{keyword}||'%' or
				price 		like '%'||#{keyword}||'%' 
			)
			</if>
		) T
		WHERE T.RNUM BETWEEN (#{currentPage} * 10) - (10 - 1) AND (#{currentPage} * 10)
	</select>
	
	<!-- 전체 행의 수(keyword가 있을 시 조건 결과 행의 수)
	public int getTotal(Map<Sting, Object> map)
	
	map{currentPage=1, keyword=개똥이}
	-->
	<select id="getTotal" parameterType="hashMap" resultType="int">
		select count(*)
			from book
			where 1=1
			<if test="keyword!=null and keyword!=''">
				and(
					title 		like '%'||#{keyword}||'%' or
					category 	like '%'||#{keyword}||'%' or
					price 		like '%'||#{keyword}||'%' 
				)
			</if>
	</select>
</mapper>









