<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.EmpMapper">

	<insert id="createPost" parameterType="kr.or.ddit.vo.EmpVO">
		<selectKey resultType="int" order="BEFORE"
			keyProperty="empNum">
			select NVL(Max(emp_num), 0)+1
			from emp
		</selectKey>
		insert into emp
		values(#{empNum}, #{empName}, #{addr}, #{pne}, #{sal})
	</insert>

</mapper>